.image-container {
  background: url('../../../assets/background.jpg');
  width: 512px;
  height: 512px;

  @apply flex ;
  @apply flex-col;
  @apply justify-between ;


  p {
    @apply text-white;
    @apply font-black;
    @apply text-center;
    @apply text-5xl;
  }
}

